@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import 'https://use.fontawesome.com/releases/v5.15.2/css/all.css';

.main-container{
    margin: 100px 400px;
    font-family: "Oxygen";
    height: 100vh;
}

.main-container_general{
    display: flex;

}


.main-container_extras{
    margin-top: 300px;
}

.main-container{
    float: right;

}

.main-container img{
  box-shadow: 1px 15px 30px 1px rgba(0, 0, 0, .8);
  height: 300px;
  width: 300px;  
  position: relative;
  display: inline-block;
} 


.main-container-text {
    display: inline-block;
    margin: 0 50px;
}

.main-container-text h2{
    margin:0;
}

.anchor-merch{
    color: black;
}



