@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Oxygen:wght@300&display=swap');

header {
    background-color: #F9F3DF;
    border: 0.5px solid purple;
    font-size: 18px;
}

header li {
    font-size: 30px;
    font-family: "Ephesis";
    list-style: none;
    display: inline-block;
}


a{
    text-decoration: none;
}


.gift-nav{
    padding: 0;
    margin: 10px 0;
    display: inline-block;
}


.gift-log {
    float: right;
    margin: 10px 0;
 }
 

.gift-nav li {
    margin: 0 8px;
    clear: both;
}

.gift-log li{
    margin: 0 10px;
 }

li > a:hover {
    color: lightblue;
    font-weight: 800;
}

li > a:active {
    color: red;
}

.title-container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,191,254,1) 51%, rgba(0,212,255,1) 100%);
    font-family: "Bonheur Royale";
    font-size: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
    
}


.title-container h2 {
    margin: 0;
    text-align: center;
    padding: 10px;
}


.title-container h2:hover {
  cursor: default;
}
